# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/

# Build
dist/
build/

# Environment (secret keys)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.idea/
.vscode/
*.swp
*.swo
